<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> nav}}

    {{{body}}}

    <script src="/jquery/dist/jquery.js"></script>
    {{{block  'jquery'}}}
  </body>
</html>
